@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-family: 'Happy Monkey', cursive;
    margin-top: 0;
    font-size: 10vh;
    text-align: center;
    color: #464353;
}

img{
    border-radius: 20px;
    transition: ease-in-out 0.6s;
}

@media(max-width: 576px){
    img {
        width: 70%;
        height: 80vh;
    }

}
@media(max-width: 768px){
    img {
        width: 90%;
        height: 80vh;
    }
}

@media(max-width: 992px){
    img {
        width: 90%;
        height: 80vh;
    }
}

@media(max-width: 1200px){
    img {
        width: 90%;
        height: 80vh;
    }
}

@media(max-width: 1999px){
    img {
        width: 90%;
        height: 80vh;
    }
}

